
@{
    Layout = null;
}
<link rel="stylesheet" href="~/AdminLTE-3.1.0/AdminLTE-3.1.0/dist/css/adminlte.min.css">
<section class="content">
    <div class="error-page">
        <h2 class="headline text-warning"> 404</h2>

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Aradığınız sayfayı bulamadık.</h3>

            <p>
               Aradığınız sayfa malesef bulunamadı...
               Linke tıklayarak mesajlara gidebilirsiniz.<a href="/Login/Index">Mesajlar</a>
            </p>

            
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>